name: MINGW64 Windows Build

on:
  push:
    paths-ignore:
    - '**/*.md'
  pull_request:
    paths-ignore:
    - '**/*.md'

concurrency:  
  group: ${{ github.workflow}}-${{ github.head_ref }}  
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    permissions:
      actions: write
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup MSYS2
        uses: msys2/setup-msys2@40677d36a502eb2cf0fb808cc9dec31bf6152638 # v2.28.0
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            git
            cmake
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-openssl
            mingw-w64-x86_64-miniupnpc
            mingw-w64-x86_64-sqlcipher
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-bzip2
            mingw-w64-x86_64-rapidjson

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -G "Ninja" \
            -DCMAKE_BUILD_TYPE=Release \
            -DRS_MINIUPNPC=ON \
            -DRS_SQLCIPHER=ON \
            -DRS_BITDHT=ON \
            -DRS_JSON_API=OFF \
            -DRS_FORUM_DEEP_INDEX=OFF

      - name: Build
        run: |
          cd build
          ninja -j3
